# .gitignore file tailored to VS Code from:
# https://www.toptal.com/developers/gitignore/api/visualstudiocode
#
# Edited 8/13/22:
#   - Added ** before .vscode entries so they work regardless of location of the .gitignore file
#   - Added lines to ignore files and directories that start with tmp_
#

### VisualStudioCode ###
**/.vscode/*
!**/.vscode/settings.json
!**/.vscode/tasks.json
!**/.vscode/launch.json
!**/.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### PyTest ###
.pytest_*

### Miscellaneous ###
__pycache__/
venv*/
Pipfile.lock

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode

tmp_*.*
**/tmp_*